out
.DS_Store
*~
*.beam
*#
sasl
doc
*.log
*_plt
Mnesia
*.dump
*.ilk
*.pdb
*.exe
*.ncb
*.suo
*.user
*.obj
*.pch
*.manifest
*.manifest.res
*.o
*.a
BuildLog.htm
mt.dep
*.idb
output
lib
.metadata
.project
.settings
.hg
.svn
.hgignore
.hgtags
.hg_empty_dir
*.flv
*.wav
fmle_config*.xml
*primary*mp3
*secondary*mp3
conference_event_list*
cut_*mp3
support/itemfeed-reader/archive*
system_tests/log
*.depend
.eunit/
deps/
ebin/
build.mak
os-auto.mak
config.status
m_auto.h
os_auto.h
log/
atom*/
deployment/version.hrl
dialyzer.plt
segments/
*.tar.gz
erl.mk
tags
*.orig
nativedeps
_rel
relx
node_modules
